body{
    background: url(./Images/one-piece-luffy-in-red-bt8pk1vcob3trdib.jpeg);
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif; 
}

.nav-bar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    top: 0;
    left: -100%;
    display: block;
    overflow-y: auto;
    position: fixed;
    transition: 0.6s ease;
    transition-property: left;
}

.active{
    left: 0;
}


.nav-bar .nav-links {
    width: 100%;
    margin-top: 80px;
    
}

.nav-bar .nav-links .item{
    position: relative;
    cursor: pointer;
}

.nav-bar .nav-links .item a{
    font-weight: bolder;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.nav-bar .nav-links .item a:hover{
    background: #e4b12e;
    transition: 0.3 ease;
}


.hide { 
    display: none;
    
}

.myIcon {
    position: absolute;
    color: white;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

.menu-btn{
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 25;
    cursor: pointer;
}